<% if @recipe.stages.empty? %>
<br/>
    No stages are using this recipe.
<br/>
<% else %>
  <table class="sortable">
    <tr>
      <th width="50%">Project</th>
      <th width="50%">Stage</th>
    </tr>
  <% for stage in @recipe.stages %>
    <tr class="<%= cycle :even, :odd, :name => 'stages' %>">
      <td><%= link_to h(stage.project.name), project_path(stage.project) %></td>
      <td><%= link_to h(stage.name), project_stage_path(stage.project, stage) %></td>
    </tr>
  <% end %>
  </table>
<% end %>