<% form_for(:recipe, :url => recipes_path) do |f| %>

  <%= render(:partial => 'form')%>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back to recipes', recipes_path, :class => 'arrow_link' %>

<% content_for(:page_title) do %>
  <% @page_title = "New recipe" %>
  <h2>New recipe</h2>
<% end %>
