<% flashed_errors(:host) %>

<% form_for(:host, :url => hosts_path) do |f| %>
  <p>
    <b>Name (DNS name or IP address)</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', hosts_path, :class => 'arrow_link'  %>

<% content_for(:breadcrumb) do %>
  <% breadcrumb_box do %>
    <%= link_to "Manage hosts", hosts_path, :style => "float:right", :class => "arrow_link" %>
    <span class="h2_light">&nbsp;</span>
  <% end %>
<% end %>

<% content_for(:page_title) do %>
  <% @page_title = "New host" %>
  <h2>New host</h2>
<% end %>
