<% if deployments.empty? %>
  <br/>
    This user has never deployed any stages. 
  <br/>
<% else %>

  <% deployments.each do |deployment| %>
    <%= render(:partial => 'deployments/list_item', :locals => {:deployment => deployment}) %>
  <% end %>
<% end %>
<% if deployments.size != user.deployments.count %>
<div class="fieldset_bottom">
  <br />
  <%= link_to "Complete deployment history", deployments_user_path(user), :class => 'arrow_link' %>
</div>
<% end %>
