<fieldset class="fieldset">
  <legend>Introduction and help</legend>
  <div style="float: right; padding: 10px 5px 5px 5px;">
    <a href="https://github.com/peritor/webistrano" target="_blank"><%= image_tag('peritor_theme/webistrano_screenshot.png', :border => '0', :width => '200', :height => '151')%></a>
  </div>
  <div style="padding-top: 5px;">
   Welcome to Webistrano. Your first steps should be to create a project with a stage.
   This stage can then be deployed once you made at least one host known to Webistrano.
   <br /><br />
   For help and more documentation, see
   <br />
   <ul>
     <li><a href="https://github.com/peritor/webistrano/wiki">Wiki</a></li>
     <li><a href="https://github.com/peritor/webistrano/wiki/Configuration-Parameters">Configuration Parameters</a></li>
     <li><a href="https://github.com/peritor/webistrano/wiki/FAQ---Frequently-Asked-Questions">FAQ</a></li>
   </ul>
   <br />
   Webistrano is Open Source. Paid support is available by <a href="http://www.peritor.com">Peritor Consulting</a>.
  </div>
</fieldset>

<br />

<fieldset class="fieldset">
  <legend>Recent deployments</legend>
  <% if @deployments.empty? %>
    <br/>
      No recent deployments.
    <br/>
  <% else %>
    <% @deployments.each do |deployment| %>
      <%= render(:partial => 'deployments/list_item', :locals => {:deployment => deployment}) %>
    <% end %>
  <% end %>
</fieldset>

<br />

<% content_for(:page_title) do %>
  <% @page_title = "Welcome to Webistrano" %>
  <h2>Welcome to Webistrano</h2>
<% end %>
