development:
    :cas_base_url: https://cas.devexample.tld/cas/
    :validate_url: https://cas.devexample.tld/cas/validate
    :logout_url: https://cas.devexample.tld/cas/logout
 
test:
    :cas_base_url: https://cas.qaexample.tld/cas/
    :validate_url: https://cas.qaexample.tld/cas/validate
    :logout_url: https://cas.qaexample.tld/cas/logout
 
production:
    :cas_base_url: https://cas.example.tld/cas/
    :validate_url: https://cas.example.tld/cas/validate
    :logout_url: https://cas.example.tld/cas/logout