<% flashed_errors(:configuration) %>
<p>
  <b>Name</b><br />
  <%= text_field 'configuration', 'name', :style =>'' %>
</p>


  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td colspan="3">
        <b>Value</b><br />
	  </td>
	</tr>
	<tr>
	  <td>
        <% disabled = @configuration.prompt? ? {:disabled =>'disabled'} : {} %>
        <%= text_field 'configuration', 'value', disabled.merge(:style =>'width: 330px') %>
      </td>
      <td style="padding:0px;">&nbsp;<b>or</b>&nbsp;</td>
      <td valign="bottom">
		<%= check_box 'configuration', 'prompt_on_deploy', :style =>'' %>
        Prompt for value on deployment
      </td>
    </tr>
  </table>

<% content_for(:page_scripts) do %>
  <script type="text/javascript">
  
   Event.observe(window, 'load', function(){
      Event.observe('configuration_prompt_on_deploy', 'change', function(){

        if( $F('configuration_prompt_on_deploy') == '1' ){
          $('configuration_value').disable();
        } else {
          $('configuration_value').enable();
        }
      
      });
    });
  
  
  
  </script>
<% end %>
