<h2>Editing configuration of <%= current_stage_project_description %></h2>

<% flashed_errors(:configuration) %>

<% form_for(:configuration, :url => project_stage_stage_configuration_path(@project, @stage, @configuration), :html => { :method => :put }) do |f| %>
  
  <%= render(:partial => 'project_configurations/form')%>
  <br/>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Back', project_stage_path(@project, @stage), :class => 'arrow_link' %>