<div style="margin-bottom: 20px;">
  <div class="flashbox_top_left">
    <div class="flashbox_top_right">
  	  <div class="flashbox_top">
	  </div>
    </div>
  </div>
  <div class="flashbox_body_left">
    <div id="flash" class="flashbox_body_right">
      <div class="flash_text_error"><%= text %></div>
  	</div>
  </div>
  <div class="flashbox_bottom_left">
    <div class="flashbox_bottom_right">
      <div class="flashbox_bottom">  
  	  </div>
    </div>
  </div>
</div>
