<div class="flash_box">
  <div class="flash_box_top"></div>
  <div id="flash" class="flash_box_middle">
    <div class="flash_text_error"><%= text %></div>
  </div>
  <div class="flash_box_bottom"></div>
</div>
