<div class="menu_box">
  <div class="menu_box_header">
	  <div class="menu_box_arrow"><%= image_tag('peritor_theme/menu_arrow_down.gif', :onclick => "close_menu_box('#{h(box_type)}'); return false", :id => "#{h(box_type)}_arrow_down", :style => "#{h(show_if_opened(status))};") %><%= image_tag('peritor_theme/menu_arrow_right.gif', :onclick => "open_menu_box('#{h(box_type)}'); return false", :id => "#{h(box_type)}_arrow_right", :style => "#{h(show_if_closed(status))};") %></div>
<div class="menu_title"><%= link_to box_type.capitalize, path %></div>
  </div>
  <div class="menu_box_body">
    <%= render(:partial => "layouts/#{box_type}", :locals => {:status => status} )%>
    <div class="clear"></div>
  </div>
  <div class="menu_box_footer"></div>
</div>